<launch>
    <node pkg="turtlesim" type="turtlesim_node" name="turtle1" />
    <node pkg="rosservice" type="rosservice" name="turtle2" args="call /spawn 2 2 0.1 turtle2" />
    <node pkg="beginner_tutorials" type="move3.py" name="moveturtle1" args="1 3"/>
    <node pkg="beginner_tutorials" type="move3.py" name="moveturtle2" args="2 9"/>
</launch>