<launch>
    <!--
    <param name="r" value="255" />
    <param name="g" value="0" />
    <param name="b" value="255" />
    -->
    <rosparam file="$(find beginner_tutorials)/config/params.yaml" command="load" />

    <node pkg="turtlesim" type="turtlesim_node" name="turtle1" output="screen" />
    <node pkg="beginner_tutorials" type="changecolorsrv.py" name="turtle_color" />
</launch>